.App div {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

.cities {
  border: 1px solid #ced4da;
  width: 50%;
  border-radius: 20px;
}

.city-form {
  width: 90%;
  border: 1px solid #ced4da;
  padding: 30px;
  border-radius: 20px;
}

.cityItem {
  width: 90%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ced4da;
}

.cityItem img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 10px;
}
/* 
.cityItem div {
  display: flex;
  flex-direction: ;
} */

.cityItem h1 {
  font-size: 20px;
}

.cityItem h2 {
  font-size: 17px;
}

.cityItem h3 {
  font-size: 17px;
}

.cities {
  width: 50%;
}

.back {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 1000;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
  top: 0;
}

.city {
  width: 30%;
  position: absolute;
  background-color: white;
  border: 1px solid #ced4da;
  border-radius: 20px;
  padding: 50px 10px;
  max-height: calc(80vh);
  overflow-y: auto;
}

.city::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.city::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.city::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ced4da;
  padding-right: 12px;
}

.city .btn-danger {
  width: 40px;
  margin-left: auto;
  margin-right: 10px;
}

.city h1 {
  text-align: center;
}

.city h2 {
  color: grey;
  text-align: center;
  font-size: 17px;
  font-style: italic;
}

.city h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.location-item {
  border-bottom: 1px solid #ced4da;
  margin: 10px;
  padding: 10px;
}

.location-item h4 {
  font-size: 20px;
}
.location-item h5,
.location-item h6 {
  font-size: 14px;
  color: #323233;
}

.location-item button {
  height: 35px;
}

.location-form {
  width: 100%;
  position: absolute;
}
